body {
  background: #f8f9fa;
}

.auth-container {
  max-width: 420px;
  margin: 60px auto;
  padding: 35px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 220px;
  object-fit: cover;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  scale: 1.05;
  color: red;
}
